<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% if(validacao) { %>
        <ul>
        <% for(var i = 0; i < validacao.length; i++) { %>
            <li> <%= validacao[i].msg %></li>
        <% }  %>
        </ul>
    <% } %>
    <form action="/produtos/salvar" method='POST'>
        <p>
            <label for="quantidade">Nome</label>
            <input type="text" name="nome" id="nome" value="<%= produto.nome %>" />
        </p>
        <p>
            <label for="descricao">Quantidade</label>
            <input type="number" name="descricao" id="descricao" min="0" value="<%= produto.descricao %>" />
        </p>
        <input type="submit" value="Cadastrar" />
    </form>
</body>
</html>